doctype html
html
	head(lang="es")
		title MacoEventos
		meta(http-equiv="content-type", content="text/html; charset=UTF-8")
		meta(name="description", content="Todo lo que necesita en eventos empresariales y familiares, fiestas en general, bodas, Barquisimeto, Lara Venezuela")
		meta(name="keywords", content="Fiestas, eventos, boda, matrimonios, despedidas, soltero, venezuela, lara, barquisimeto")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;")
		link(rel="stylesheet", href="http://fonts.googleapis.com/icon?family=Material+Icons", type="text/css")
		link(rel="stylesheet", href="css/materialize.min.css", type="text/css")
	body
		header
			.container
				img(src="http://lorempixel.com/200/200/", alt="")
				h3.slogan ...¡tu slogan debe ir aqui!
				nav
					ul
						li Inicio
						li Servicios
						li Promociones
						li Contacto
		
		.container
			section.slider
				.container
					img(src="http://lorempixel.com/600/400/", alt="")
			section.content
				h2 Lorem ipsum dolor sit amet.
				article
					img(src="http://lorempixel.com/400/200/", alt="")
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi quisquam, reiciendis incidunt voluptatem. Odit, possimus, similique. Fugiat quasi quae, unde perferendis modi dolor atque temporibus, corporis nemo. Saepe, facere, tempora.
				article
					img(src="http://lorempixel.com/400/200/", alt="")
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, labore. Veritatis dignissimos quibusdam explicabo quas minus tempora sequi officia, deserunt alias beatae, officiis, ipsum adipisci soluta libero laboriosam ea eius.

			section
				.row.valign-wrapper
					form.col.s6
						.row
							.input-field.col.s12
								input#icon_prefix.validate(type="text")
								label(for="icon_prefix") Nombre Completo
							.input-field.col.s12
								input#email.validate(type="email")
								label(for="email" data-error="El correo es incorrecto" data-success="Es Correcto") Email
							.input-field.col.s12
								input#tel.validate(type="tel")
								label(for="tel") Número de Telefono
							.input-field.col.s12
								input#textarea1.materialize-textarea
								label(for="textarea1") Descripcion de su Solicitud
					.col.s6
							h2.valign.center-align Solicita tu cotizacion en Linea

			section
				.row
					h2 Nuestros clientes nos respaldan
					img(src="http://lorempixel.com/800/200/", alt="")
				
			footer
				.col.s5
					p Recuerda Agregarnos a tus redes Sociales
				.col.s7
					i.facebook
					a Maco Eventos
					i.twitter
					a @macoeventos
					i.whatsapp
					a Maco Eventos
					i.phone
					a Maco Eventos
			.postfooter
				p.right-align Sitio Web Diseñado y Desarrollado por JosTech
			
		script(type="text/javascript", src="https://code.jquery.com/jquery-2.1.1.min.js")
		script(type="text/javascript", src="js/bin/materialize.min.js")

