doctype html
html
	head(lang="es")
		title MacoEventos
		meta(http-equiv="content-type", content="text/html; charset=UTF-8")
		meta(name="description", content="Todo lo que necesita en eventos empresariales y familiares, fiestas en general, bodas, Barquisimeto, Lara Venezuela")
		meta(name="keywords", content="Fiestas, eventos, boda, matrimonios, despedidas, soltero, venezuela, lara, barquisimeto")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;")
		link(rel="stylesheet", href="http://fonts.googleapis.com/icon?family=Material+Icons", type="text/css")
		link(href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Ranga:400", rel="stylesheet")
		link(rel="stylesheet", href="css/materialize.min.css", type="text/css")
		link(rel="stylesheet", href="icons/icons.css")
		script(type="text/javascript", src="https://code.jquery.com/jquery-2.1.1.min.js")
		script(type="text/javascript", src="js/bin/materialize.min.js")

	body
		header
			.container
				.row.valign-wrapper
					img(src="img/logo.png", alt="").logo.responsive-img.brand-logo
					.col.l12.slogan.center-align.hide-on-small-only
						h3.slogan__text.valign.right ...¡tu slogan debe ir aqui!
			nav
				.container
					.nav-wrapper
						a.button-collapse.right(href="#", data-activates='mobile-demo'): i.material-icons menu
						ul.right.hide-on-med-and-down.uppercase
							li.nav__item: a Inicio
							li.nav__item: a Servicios
							li.nav__item: a Promociones
							li.nav__item: a Contacto
						ul#mobile-demo.side-nav
							li: img(src="img/logo.png", alt="").responsive-img
							ul.nav-mobile.uppercase
								li.nav__item: a Inicio
								li.nav__item: a Servicios
								li.nav__item: a Promociones
								li.nav__item: a Contacto
							li.nav__item: .slogan: h3.slogan__text-nav ...¡tu slogan debe ir aqui!
		.container.content
			.carousel.carousel-slider
				a.carousel-item(href="#one!"): img(src="img/slider-01.jpg", alt="" href="#one!")
				a.carousel-item(href="#two!"): img(src="img/slider-02.jpg", alt="" href="#two!")
				a.carousel-item(href="#three!"): img(src="img/slider-03.jpg", alt="" href="#three!")
			section
				h4.center-align.uppercase Tenemos los mejores servicios
				.index
					.row
						.col.s12.m5
							img.responsive-img.block-center(src="http://lorempixel.com/400/300/", alt="")
						.col.s12.m7
							p.center-align Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error possimus eveniet voluptas est minima reiciendis natus vel sit necessitatibus veritatis voluptate dolores quis iusto nemo amet, eum vero accusamus ex.
					.row
						.col.s12.m5
							img.responsive-img.block-center(src="http://lorempixel.com/400/300/", alt="")
						.col.s12.m7
							p.center-align Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error possimus eveniet voluptas est minima reiciendis natus vel sit necessitatibus veritatis voluptate dolores quis iusto nemo amet, eum vero accusamus ex.
			section.waitlist
					.row.container-flex
						.col.l5.s12.waitlist__text
								h4.valign.center-align.uppercase Solicita tu cotización en Linea
						.col.l7.s12.waitlist__form
							form
							.row
								.input-field.col.s12
									input#icon_prefix.validate(type="text")
									label(for="icon_prefix") Nombre Completo
								.input-field.col.s12
									input#email.validate(type="email")
									label(for="email" data-error="El correo es incorrecto" data-success="Es Correcto") Email
								.input-field.col.s12
									input#tel.validate(type="tel")
									label(for="tel") Número de Telefono
								.input-field.col.s12
									textarea#textarea1.materialize-textarea
									label(for="textarea1").white-text Descripción de su Solicitud
								.col.s12
									button.btn.waves-effect.waves-macodarkblue.white.macodarkblue-text.tooltipped.right(type="submit", name="action", data-position="bottom", data-delay="50", data-tooltip="¡Gracias por confiar en nosotros!") Enviar

			section
				.row
					.container
						h4.center-align.uppercase Nuestros clientes nos respaldan
					.container
						.carousel.carousel-slider.center.quote-carousel(data-indicators="true")
							.carousel-item.black-text(href="#one!")
								.row
									.col.m3.s12
										img.img(src='https://randomuser.me/api/portraits/women/76.jpg')
									.col.m9.s12
										blockquote.left-align
											i.icon.icon-quote-left
											|   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, odio non laboriosam fugiat qui eos sunt, omnis dolor laborum."
											h6.left-align - A Proud Customer
							.carousel-item.black-text(href="#one!")
								.row
									.col.m3.s12
										img.img(src='https://randomuser.me/api/portraits/men/76.jpg')
									.col.m9.s12
										blockquote.left-align
											i.icon.icon-quote-left
											|    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus ratione voluptate perferendis odit, inventore magni eos, quisquam qui possimus, perspiciatis, harum vero accusamus officiis! Obcaecati, aliquid, corporis. Culpa, deleniti, accusantium."
											h6.left-align - A Proud Customer
							.carousel-item.black-text(href="#one!")
								.row
									.col.m3.s12
										img.img(src='https://randomuser.me/api/portraits/women/96.jpg')
									.col.m9.s12
										blockquote.left-align
											i.icon.icon-quote-left
											|   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, odio non laboriosam fugiat qui eos sunt, omnis dolor laborum."
											h6.left-align - A Proud Customer
				
			footer.page-footer
				.row.footer-social
					.col.s12.m4.l4
						p.white-text.uppercase.center-on-small-only Recuerda Agregarnos a tus redes Sociales
					.col.m8.social-list
						.col.m5
							ul.glyphs.character-mapping.center-on-small-only
								li
									a(href="#").social
										i.icon.icon-facebook
										p.white-text Maco Eventos
								li
									a(href="#").social
										i.icon.icon-twitter
										p.white-text @macoeventos
						.col.m7
							ul.center-on-small-only
								li
									a.social
										i.icon.icon-whatsapp
										p.white-text.left-align +58 416 - 758.89.41
								li
									a.social
										i.icon.icon-phone
										p.white-text.left-align +58 416 - 758.89.41
				.footer-copyright
					p.withoutmargin &copy; 2017 MacoProducciones, All rights reserved.
					p.withoutmargin Powered by JosTech
		script.
			$('.carousel.carousel-slider').carousel({full_width: true});$('.carousel').carousel('next');$('.carousel').carousel('next', 3); // Move next n times.
			$(".button-collapse").sideNav();
		
