.waitlist{
	background-color: $azuloscuro;
  padding: 1rem;
  @media screen and (min-width:600px){
  padding: 1rem 3rem;
  }
	&__form .row .input{
		margin-left: 0;
		color: #fff;
	}
	&__text{
		color: #fff;
		font-family:Montserrat;
		font-weight: 700;
	}
}

/* Form Order */
@media screen and (min-width:992px){
  .waitlist{
    &__text{
      order:1;
      align-self: center;
    }
  }
}


// TODO: refactor this code

// bOTON
.macodarkblue{
	&-text{
		color:$azulclaro;
	}
	&:hover{
		color:white;
	}
}

//EFECTO BOTON COLOR AZUL OSCURO
.waves-effect.waves-macodarkblue .waves-ripple {
  /* The alpha value allows the text and background color
  of the button to still show through. */
   background-color: $azuloscuro;
 }


  /* label color */
  .input-field label {
    color: #fff;
  }

  /* label focus color */
  .input-field input[type=text]:focus + label, 
  .input-field input[type=email]:focus + label,
  .input-field input[type=tel]:focus + label {
    color: #fff;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus,
  .input-field input[type=email]:focus,
  .input-field input[type=tel]:focus,
  textarea:focus {
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #fff;
    color: #fff;
  }
  /* valid color */
  .input-field input[type=text].valid,
  .input-field input[type=email].valid,
  .input-field input[type=tel].valid,
  textarea {
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #fff;
    color: #fff;
  }
  /* invalid color */
  .input-field input[type=email].invalid, 
  textarea {
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #fff;
    color:white;
  }
  /* icon prefix focus color */
  .input-field .prefix.active,
  textarea {
    color: #fff;
  }
  textarea.materialize-textarea:focus{
    border-bottom: 1px solid #fff!important;
    box-shadow: 0 1px 0 0 #fff!important;
  }