/*===========================================================================
   Styles Complete
   ========================================================================== */
body{
	background-image: url("../img/motivo.png");
}


/* ==========================================================================
   HEADER
   ========================================================================== */
header{
	background-color: $azulclaro;
}
.logo{
  width: 250px;
  height: auto;
  margin: auto;
	margin-bottom: -20px;
  @media screen and (min-width: 600px){
    margin-bottom: -70px;
  }
}
.slogan{
  font-family: "Ranga";
  color:white;
  margin-right:1rem;
  font-weight: 100;
  text-align: right;
  &__text{
    &-nav{
      color:$azuloscuro;
    }
  }
}
nav{
	background-color: $azuloscuro;
	.nav__item{
		font-family: "Montserrat";
		font-weight: 700;
    text-align: center;
	}
}
#mobile-demo{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  &>li:first-child{
    display: flex;
    justify-content:center;
    padding:1rem;
    & img{
    height:20vh;
    margin:auto;
    }
  }
}

/* ==========================================================================
   CONTENT
   ========================================================================== */

.content{
	background-color: #fff;
	box-shadow: 0 0 13px rgba(0,0,0,.63);
}


/* ==========================================================================
   Main
   ========================================================================== */

.index{
  padding: 0 8.33%;
  text-align:center;
  & .row{
    @media screen and (min-width:601px){
    align-items: center;
    display: flex;
      &:nth-child(even){
        .col:first-child{order:1}
      }
    }
  }
}



/* ==========================================================================
   Contact Form
   ========================================================================== */

.waitlist{
	background-color: $azuloscuro;
  padding: 1rem;
  @media screen and (min-width:600px){
  padding: 1rem 3rem;
  }
	&__form .row .input{
		margin-left: 0;
		color: #fff;
	}
	&__text{
		color: #fff;
		font-family:Montserrat;
		font-weight: 700;
	}
}

/* Form Order */
@media screen and (min-width:992px){
  .waitlist{
    &__text{
      order:1;
      align-self: center;
    }
  }
}



// bOTON
.macodarkblue{
	&-text{
		color:$azulclaro;
	}
	&:hover{
		color:white;
	}
}

//EFECTO BOTON COLOR AZUL OSCURO
  .waves-effect.waves-macodarkblue .waves-ripple {
     /* The alpha value allows the text and background color
     of the button to still show through. */
      background-color: $azuloscuro;
    }


  /* label color */
   .input-field label {
     color: #fff;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label, 
   .input-field input[type=email]:focus + label,
   .input-field input[type=tel]:focus + label {
     color: #fff;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus,
   .input-field input[type=email]:focus,
   .input-field input[type=tel]:focus,
   textarea:focus {
     border-bottom: 1px solid #fff;
     box-shadow: 0 1px 0 0 #fff;
     color: #fff;
   }
   /* valid color */
   .input-field input[type=text].valid,
   .input-field input[type=email].valid,
   .input-field input[type=tel].valid,
   textarea {
     border-bottom: 1px solid #fff;
     box-shadow: 0 1px 0 0 #fff;
     color: #fff;
   }
   /* invalid color */
   .input-field input[type=email].invalid, 
   textarea {
     border-bottom: 1px solid #fff;
     box-shadow: 0 1px 0 0 #fff;
     color:white;
   }
   /* icon prefix focus color */
   .input-field .prefix.active,
   textarea {
     color: #fff;
   }
   textarea.materialize-textarea:focus{
   	border-bottom: 1px solid #fff!important;
   	box-shadow: 0 1px 0 0 #fff!important;
   }



/* ==========================================================================
   Testimonials
   ========================================================================== */

// QUOTE CAROUSEL
.quote-carousel{
  height:220px !important;
  max-width:85vw;
  width:100%;
  @media screen and (max-width: 600px) {
  & {
    height:340px !important;
    }
  }
}

.img{
  width:120px;
  height:auto;
  max-width:150px;
  background-color: black;
  border-radius:50%;
}

.indicator-item{
  background-color: $primary-color-light !important;
  &.active{
    background-color: $primary-color-dark !important;
  }
}
blockquote{
  border-left-color: $primary-color;
}

// --quote carousel


/* ==========================================================================
   Footer
   ========================================================================== */



/* Social
   ========================================================================== */



/* Copy Right
   ========================================================================== */