  .uppercase{
    text-transform:uppercase;
  }
  
  .block-center{
    margin-left: auto;
    margin-right: auto;
  }
  
  .container-flex{
    display: flex;
    flex-wrap:wrap;
  }
  
  .withoutmargin{
    margin:0;
  }